@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
}

/* Loading animation */
#p-spin {
  position: relative;
}

#spin {
  border: 5px solid #d3d2d2;
  border-radius: 50%;
  border-top: 5px solid #262626;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  /* transform: translate(50%, -50%); */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
